/*// name = Aditya Sharma*/
/*// student id == 991663142*/
@keyframes colorchange {
    0%   {background: #5c8bff;}
    25%  {background: #4CAF50;}
    50%  {background: #ffbf00;}
    75%  {background: #ff0080;}
    100% {background: #5c8bff;}
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url('https://imgpile.com/images/xQs17L.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(5px); /* Added blur effect */
}

/*body, html {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    background: linear-gradient(135deg, #d59bf6, #9896f1);*/
/*}*/
header {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    animation: colorchange 10s infinite; /* Added animation */
}
.container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}
.container h1 {
    margin-top: 0;
}
.container form {
    margin-bottom: 20px;
}
.container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container textarea {
    height: 50px; /* Adjusted height */
    resize: vertical;
}
.container button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.container button:hover {
    background-color: #45a049;
}
footer {
    color: #fff;
    padding: 5px 20px; /* Reduced padding */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: colorchange 10s infinite; /* animation */
}
table {
    background-color: #fff; /*  white background */
    border-collapse: collapse;
    width: 80%; /* Adjusting width */
    margin: 0 auto; /* Centering the table */
}

/*// name = Aditya Sharma*/
/*// student id == 991663142*/