<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Password Record</title>
    <link rel="stylesheet" href="path/to/your/css/style.css">
</head>
<body>

<header>
    <!-- Your header content here -->
    <img src="path/to/your/image.jpg" alt="Website Logo">
</header>
<!--  -->
<main>
    <section>
        <h1>Search Password Record by Title</h1>
        <form action="/searchByTitle" method="get" th:object="${titleUtilities}">
            <label for="searchTitle">Search By Title:</label>
            <input type="text" id="searchTitle" name="searchTitle">
            <button type="submit">Search</button>
        </form>

    </section>

    <section th:if="${not #strings.isEmpty(searchResults)}">
        <h2>Search Results</h2>
        <table>
            <thead>
            <tr>
                <th>Record Id</th>
                <th>Title</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>URL</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${searchResults}">
                <td th:text="${record.id}"></td>
                <td th:text="${record.title}"></td>
                <td th:text="${record.username}"></td>
                <td th:text="${record.password}"></td>
                <td th:text="${record.email}"></td>
                <td th:text="${record.url}"></td>
                <td th:text="${record.notes}"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <section th:if="${message}">
        <p th:text="${message}"></p>
    </section>
</main>

<footer>
    <!-- Your footer content here -->
    <a href="/">Home</a>
    <a href="/viewRecordPage">View Password Records</a>
</footer>

</body>
</html>
