<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Page</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">
</head>
<body>

<header>
    <nav>
        <h1 style="margin: 1px 0; font-size: 20px; font-weight: normal;">Aditya's Online Shop 2024 &#x1F6D2;</h1>
        <a href="/product">Home Page</a>
        <a href="/searchByTitle">searchrecords</a>

    </nav>
</header>

<main>
    <section>
        <h2>Record List</h2>
        <table id="recordTable" border="2">
            <tr>
                <th>Record Id</th>
                <th>Record email</th>
                <th>Record username</th>
                <th>record title</th>
                <th>record notes</th>
                <th>record password</th>
                <th>record notes</th>
            </tr>
            <tr th:each="record : ${records}">
                <td th:text="${record.id}"></td>
                <td th:text="${record.email}"></td>
                <td th:text="${record.username}"></td>
                <td th:text="${record.title}"></td>
                <td th:text="${record.notes}"></td>
                <td th:text="${record.password}"></td>
                <td th:text="${record.notes}"></td>

            </tr>
        </table>
    </section>
</main>

<footer>
    <p style="margin: 5px 0; font-size: 12px;">Copyright &copy; Aditya</p>
    <p style="margin: 5px 0; font-size: 12px;">index</p>
</footer>

</body>
</html>
